<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="corp.kairos.adamastor">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_android_places_api_key" />

        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".Home.HomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:stateNotNeeded="true"
            android:resizeableActivity="false"
            android:theme="@style/HomeTheme"
            tools:targetApi="eclair">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AllApps.AllAppsActivity"
            android:theme="@style/LauncherTheme" />

        <service
            android:name=".Collector.CollectorService"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.service.notification.CollectorService" />
            </intent-filter>
        </service>

        <service
            android:name=".ServerMediator.MediatorService"
            android:label="Kairos">
            <intent-filter>
                <action android:name="android.service.notification.MediatorService" />
            </intent-filter>
        </service>

        <service
            android:name=".Collector.ActivityRecognitionService"
            android:label="Kairos">
        </service>

        <activity
            android:name=".Onboarding.Onboard1WelcomeActivity"
            android:label="@string/onboarding_label"
            android:theme="@style/OnboardingTheme" />
        <activity
            android:name=".Onboarding.Onboard2SpecialPermissionActivity"
            android:label="@string/onboarding_label"
            android:theme="@style/OnboardingTheme" />
        <activity
            android:name=".Onboarding.Onboard3LocationActivity"
            android:label="@string/onboarding_label"
            android:theme="@style/OnboardingTheme" />
        <activity
            android:name=".Onboarding.Onboard4ContextAppsActivity"
            android:label="@string/onboarding_label"
            android:theme="@style/OnboardingTheme" />
        <activity
            android:name=".Onboarding.Onboard5ScheduleActivity"
            android:label="@string/onboarding_label"
            android:theme="@style/OnboardingTheme" />
        <activity
            android:name=".Onboarding.Onboard6FinalActivity"
            android:label="@string/onboarding_label"
            android:theme="@style/OnboardingTheme"></activity>
        <activity
            android:name=".ContextList.ContextListActivity"
            android:theme="@style/LauncherTheme" />

        <service
            android:name=".Collector.CollectorService"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.service.notification.CollectorService" />
            </intent-filter>
        </service>

        <receiver android:name=".AppsManager.AppsBroadcastService">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_CHANGED" />
                <action android:name="android.intent.action.PACKAGE_INSTALL" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Settings.ContextRelated.EditContextAppsActivity"
            android:label="Context Apps" />

        <activity
            android:name=".Settings.LocationSettingsActivity"
            android:label="Location" />

        <activity
            android:name=".Settings.KairosSettingsActivity"
            android:label="Kairos Settings"></activity>
            
        <activity android:name=".Settings.ScheduleSettingsActivity" />

        <activity
            android:name=".Statistics.StatisticsActivity"
            android:label="@string/title_activity_statistics"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>
</manifest>