<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="corp.kairos.adamastor">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_android_map_api_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".Home.HomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:stateNotNeeded="true"
            android:theme="@style/LauncherTheme"
            tools:targetApi="eclair">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AllApps.AllAppsActivity"
            android:theme="@style/LauncherTheme" />

        <activity
            android:name=".Settings.ContextRelated.ContextRelatedSettingsActivity"
            android:label="Onboarding"
            android:parentActivityName=".Home.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.kairos.adamastor.Home.HomeActivity" />
        </activity>

        <activity
            android:name=".Settings.ContextRelated.ContextRelatedAppsActivity"
            android:label="Context Related Apps"
            android:parentActivityName=".Settings.ContextRelated.ContextRelatedSettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Settings.ContextRelated.ContextRelatedSettingsActivity" />
        </activity>

        <activity
            android:name=".Onboarding.Onboard1WelcomeActivity"
            android:label="Onboarding"
            android:parentActivityName=".Home.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.kairos.adamastor.Home.HomeActivity" />
        </activity>

        <activity
            android:name=".Onboarding.Onboard3LocationActivity"
            android:label="Onboarding"
            android:parentActivityName=".Onboarding.Onboard1WelcomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.kairos.adamastor.Onboarding.Onboard1WelcomeActivity" />
        </activity>

        <activity
            android:name=".Onboarding.Onboard4ContextAppsActivity"
            android:label="Onboarding"
            android:parentActivityName=".Onboarding.Onboard3LocationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.kairos.adamastor.Onboarding.Onboard3LocationActivity" />
        </activity>

        <activity
            android:name=".Onboarding.Onboard5ScheduleActivity"
            android:label="Onboarding"
            android:parentActivityName=".Onboarding.Onboard4ContextAppsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.kairos.adamastor.Onboarding.Onboard4ContextAppsActivity" />
        </activity>

        <activity
            android:name=".Onboarding.Onboard2UsageSettingsActivity"
            android:label="Onboarding"
            android:parentActivityName=".Onboarding.Onboard1WelcomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.kairos.adamastor.Home.HomeActivity" />
        </activity>

        <activity
            android:name=".ContextList.ContextListActivity"
            android:theme="@style/LauncherTheme" />

        <service
            android:name=".collector.CollectorService"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.service.notification.CollectorService" />
            </intent-filter>
        </service>

    </application>

</manifest>